<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%@friends.each do |friend|%>
      <tr>
        <td><%= link_to friend.first_name, user_path(friend)%></td>
        <td><%= friend.last_name %></td>
        <td class="text-right"><%= link_to "stop following", friendship_path(friend), method: :delete, data: {confirm: "Are you sure"},  class: "btn btn-outline-danger"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
