<h1>My Friends</h1>
<div class="search-area">
  <h4>Friends list</h4>
  <div class="row pt-4">
    <div class="col-sm-9 pr-0">
      <% if !@friends.empty?%>
        <%=render "layouts/friends-table"%>
      <%end%>
    </div>
  </div>
</div>
