<h1>My portfolio</h1>
<div class="search-area">
  <h3>search stocks</h3>
  <%=render 'layouts/stock-search'%>
</div>
<div id="results">
</div>
<div class="row">
  <div class="col-9 pr-0">
    <%if !@tracked_stocks.empty?%>
      <%=render 'layouts/stocks-table'%>
    <%else%>
      <h4 class="pt-3">You are not currently tracking any stocks</h4>
    <%end%>
  </div>
</div>
